<h1>Stupid Coaching</h1>

<div id= question>
<p><%= @question %></p>
<p> <em>- You </em> </p>
</div>
<br>
<br>
<div id= answer>
<p><%= @answer %></p>
<p> <em>- Your coach </em> </p>
</div>

<%= link_to "Ask the coach again", ask_path %>